* {
    margin: 0;
    padding: 0;
}

nav{
    margin: 10px;
    padding: 5px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nav_logo{
   display: flex;
   gap: 20px;
   align-items: center;
}

.nav_menu>a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.nav_menu>a:hover{
    transition: 200ms;
    color: blue;
}

